Repository steven-ph/epic-collabs: changes, and which Buildkite steps are due for each by the changed paths.
All: epic-collabs-merge, epic-collabs-frontend-merge

epic-collabs-merge:
  trigger: epic-collabs-merge

epic-collabs-frontend-merge:
  trigger: epic-collabs-frontend-merge

Refactor
  backend/services/epic-collabs/src/gql/make-context.ts
Due: epic-collabs-merge

Refactor
  backend/services/epic-collabs/src/gql/schemas/project.ts
  backend/services/epic-collabs/src/models/project.ts
  backend/services/epic-collabs/src/repositories/__tests__/project.test.ts
  backend/services/epic-collabs/src/repositories/category.ts
  backend/services/epic-collabs/src/repositories/position.ts
  backend/services/epic-collabs/src/repositories/project.ts
  backend/services/epic-collabs/src/repositories/user.ts
  backend/services/epic-collabs/src/utils/dataloader.ts
  frontend/epic-collabs-frontend/src/components/landing-page/index.js
  frontend/epic-collabs-frontend/src/gql/category.js
  frontend/epic-collabs-frontend/src/hooks/use-category.js
Due: epic-collabs-merge, epic-collabs-frontend-merge

Refactor
  backend/services/epic-collabs/src/gql/__tests__/project.test.ts
  backend/services/epic-collabs/src/gql/__tests__/user.test.ts
  backend/services/epic-collabs/src/gql/resolvers/project.ts
  backend/services/epic-collabs/src/gql/resolvers/user.ts
  backend/services/epic-collabs/src/gql/schemas/project.ts
  backend/services/epic-collabs/src/gql/schemas/user.ts
  backend/services/epic-collabs/src/models/project.ts
  backend/services/epic-collabs/src/models/user.ts
  backend/services/epic-collabs/src/repositories/__tests__/project.test.ts
  backend/services/epic-collabs/src/repositories/__tests__/user.test.ts
  backend/services/epic-collabs/src/repositories/project.ts
  backend/services/epic-collabs/src/repositories/user.ts
  backend/services/epic-collabs/src/services/__tests__/project.test.ts
  backend/services/epic-collabs/src/services/__tests__/user.test.ts
  backend/services/epic-collabs/src/services/project.ts
  backend/services/epic-collabs/src/services/user.ts
Due: epic-collabs-merge

refactor
  backend/services/epic-collabs/src/repositories/__tests__/user.test.ts
  backend/services/epic-collabs/src/repositories/user.ts
Due: epic-collabs-merge

refactor
  backend/services/epic-collabs/src/repositories/user.ts
Due: epic-collabs-merge

refactor
  backend/services/epic-collabs/schema.graphql
  backend/services/epic-collabs/src/repositories/__tests__/user.test.ts
  backend/services/epic-collabs/src/repositories/user.ts
Due: epic-collabs-merge

Remove not needed
  backend/services/epic-collabs/src/services/project.ts
Due: epic-collabs-merge

Refactor
  frontend/epic-collabs-frontend/src/components/landing-page/index.js
  frontend/epic-collabs-frontend/src/gql/project.js
  frontend/epic-collabs-frontend/src/hooks/use-category.js
  frontend/epic-collabs-frontend/src/hooks/use-project.js
Due: epic-collabs-frontend-merge

Fix test
  frontend/epic-collabs-frontend/src/__tests__/index.test.js
Due: epic-collabs-frontend-merge

refactor services
  backend/services/epic-collabs/schema.graphql
  backend/services/epic-collabs/src/gql/__tests__/project.test.ts
  backend/services/epic-collabs/src/gql/context/user.ts
  backend/services/epic-collabs/src/gql/resolvers/project.ts
  backend/services/epic-collabs/src/gql/schemas/project.ts
  backend/services/epic-collabs/src/repositories/__tests__/project.test.ts
  backend/services/epic-collabs/src/repositories/__tests__/user.test.ts
  backend/services/epic-collabs/src/repositories/project.ts
  backend/services/epic-collabs/src/repositories/user.ts
  backend/services/epic-collabs/src/services/__tests__/project.test.ts
  backend/services/epic-collabs/src/services/__tests__/user.test.ts
  backend/services/epic-collabs/src/services/project.ts
  backend/services/epic-collabs/src/services/user.ts
Due: epic-collabs-merge

Landing Page
  frontend/epic-collabs-frontend/next.config.js
  frontend/epic-collabs-frontend/package.json
  frontend/epic-collabs-frontend/pages/_app.js
  frontend/epic-collabs-frontend/pages/index.js
  frontend/epic-collabs-frontend/public/images/meeting.jpg
  frontend/epic-collabs-frontend/public/images/meeting.png
  frontend/epic-collabs-frontend/public/images/svg/bash.svg
  frontend/epic-collabs-frontend/public/images/svg/clients-main.svg
  frontend/epic-collabs-frontend/public/images/svg/clients.svg
  frontend/epic-collabs-frontend/public/images/svg/cloud.svg
  frontend/epic-collabs-frontend/public/images/svg/earth.svg
  frontend/epic-collabs-frontend/public/images/svg/rocket.svg
  frontend/epic-collabs-frontend/public/images/svg/satellite.svg
  frontend/epic-collabs-frontend/public/images/svg/satellite1.svg
  frontend/epic-collabs-frontend/public/images/svg/satellite2.svg
  frontend/epic-collabs-frontend/public/images/svg/satellite3.svg
  frontend/epic-collabs-frontend/public/images/svg/satellite4.svg
  frontend/epic-collabs-frontend/public/images/svg/server.svg
  frontend/epic-collabs-frontend/public/images/svg/stars.svg
  frontend/epic-collabs-frontend/src/__tests__/index.test.js
  frontend/epic-collabs-frontend/src/components/landing-page/Parallax.js
  frontend/epic-collabs-frontend/src/components/landing-page/index.js
  frontend/epic-collabs-frontend/src/components/navigation/index.js
  frontend/epic-collabs-frontend/src/components/navigation/user-nav.js
  frontend/epic-collabs-frontend/src/layouts/common.js
  frontend/epic-collabs-frontend/src/layouts/components/body.js
  frontend/epic-collabs-frontend/src/layouts/components/footer.js
  frontend/epic-collabs-frontend/src/layouts/components/header.js
  frontend/epic-collabs-frontend/src/layouts/index.js
  frontend/epic-collabs-frontend/src/layouts/landing.js
  frontend/epic-collabs-frontend/src/plugins/withTranspileModules.js
  frontend/epic-collabs-frontend/src/styles/parallax.less
  frontend/epic-collabs-frontend/yarn.lock
Due: epic-collabs-frontend-merge

Fix SVGs
  frontend/epic-collabs-frontend/public/images/svg/bash.svg
  frontend/epic-collabs-frontend/public/images/svg/clients-main.svg
  frontend/epic-collabs-frontend/public/images/svg/clients.svg
  frontend/epic-collabs-frontend/public/images/svg/cloud.svg
  frontend/epic-collabs-frontend/public/images/svg/earth.svg
  frontend/epic-collabs-frontend/public/images/svg/rocket.svg
Due: epic-collabs-frontend-merge

Refactor Login text color
  frontend/epic-collabs-frontend/src/components/common/spinner/index.js
  frontend/epic-collabs-frontend/src/components/navigation/user-nav.js
Due: epic-collabs-frontend-merge

Refactor landing page
  frontend/epic-collabs-frontend/pages/projects/index.js
  frontend/epic-collabs-frontend/src/components/landing-page/Parallax.js
  frontend/epic-collabs-frontend/src/components/landing-page/index.js
  frontend/epic-collabs-frontend/src/components/projects/index.js
  frontend/epic-collabs-frontend/src/layouts/common.js
  frontend/epic-collabs-frontend/src/layouts/components/layout.js
  frontend/epic-collabs-frontend/src/layouts/landing.js
Due: epic-collabs-frontend-merge

Add Projects page
  frontend/epic-collabs-frontend/src/components/landing-page/index.js
  frontend/epic-collabs-frontend/src/components/projects/index.js
Due: epic-collabs-frontend-merge

Refactor random image
  backend/services/epic-collabs/package.json
  backend/services/epic-collabs/src/models/project.ts
  backend/services/epic-collabs/src/services/__tests__/project.test.ts
  backend/services/epic-collabs/src/services/project.ts
  backend/services/epic-collabs/src/utils/random-image.ts
  backend/services/epic-collabs/yarn.lock
Due: epic-collabs-merge

Refactor imgs
  frontend/epic-collabs-frontend/src/components/projects/index.js
Due: epic-collabs-frontend-merge

Add hover effect
  frontend/epic-collabs-frontend/src/components/projects/index.js
Due: epic-collabs-frontend-merge

Upgrade auth0
  frontend/epic-collabs-frontend/package.json
  frontend/epic-collabs-frontend/pages/api/me.js
  frontend/epic-collabs-frontend/pages/api/session.js
  frontend/epic-collabs-frontend/src/libs/apollo/init-apollo-client.js
  frontend/epic-collabs-frontend/yarn.lock
Due: epic-collabs-frontend-merge

Refactor
  frontend/epic-collabs-frontend/package.json
  frontend/epic-collabs-frontend/pages/_app.js
  frontend/epic-collabs-frontend/src/__tests__/index.test.js
  frontend/epic-collabs-frontend/src/components/landing-page/index.js
  frontend/epic-collabs-frontend/src/components/navigation/user-nav.js
  frontend/epic-collabs-frontend/src/context/user.js
  frontend/epic-collabs-frontend/src/functions/fetcher.js
  frontend/epic-collabs-frontend/src/libs/apollo/init-apollo-client.js
  frontend/epic-collabs-frontend/src/plugins/getBabelPlugins.js
  frontend/epic-collabs-frontend/src/plugins/withTheme.js
  frontend/epic-collabs-frontend/src/styles/index.less
  frontend/epic-collabs-frontend/yarn.lock
Due: epic-collabs-frontend-merge

Fix animation
  frontend/epic-collabs-frontend/package.json
  frontend/epic-collabs-frontend/yarn.lock
Due: epic-collabs-frontend-merge

Fix styling
  frontend/epic-collabs-frontend/package.json
  frontend/epic-collabs-frontend/pages/_app.js
  frontend/epic-collabs-frontend/pages/_document.js
  frontend/epic-collabs-frontend/pages/projects/index.js
  frontend/epic-collabs-frontend/src/__tests__/index.test.js
  frontend/epic-collabs-frontend/src/components/landing-page/index.js
  frontend/epic-collabs-frontend/src/components/navigation/index.js
  frontend/epic-collabs-frontend/src/components/navigation/user-nav.js
  frontend/epic-collabs-frontend/src/layouts/components/footer.js
  frontend/epic-collabs-frontend/src/plugins/getBabelPlugins.js
  frontend/epic-collabs-frontend/src/plugins/withTheme.js
  frontend/epic-collabs-frontend/src/styles/index.less
  frontend/epic-collabs-frontend/yarn.lock
Due: epic-collabs-frontend-merge

Add routes
  frontend/epic-collabs-frontend/pages/_app.js
  frontend/epic-collabs-frontend/pages/dashboard/index.js
  frontend/epic-collabs-frontend/pages/index.js
  frontend/epic-collabs-frontend/pages/profile/index.js
  frontend/epic-collabs-frontend/pages/projects/index.js
  frontend/epic-collabs-frontend/public/images/meeting.png
  frontend/epic-collabs-frontend/public/images/svg/project.svg
  frontend/epic-collabs-frontend/public/images/svg/resume.svg
  frontend/epic-collabs-frontend/public/images/svg/strategy.svg
  frontend/epic-collabs-frontend/src/components/common/icon/index.js
  frontend/epic-collabs-frontend/src/components/common/image/ImageOptimizer.js
  frontend/epic-collabs-frontend/src/components/common/image/ProgressiveImage.js
  frontend/epic-collabs-frontend/src/components/common/image/__mocks__/ImageOptimizer.js
  frontend/epic-collabs-frontend/src/components/common/image/index.js
  frontend/epic-collabs-frontend/src/components/common/index.js
  frontend/epic-collabs-frontend/src/components/common/link/index.js
  frontend/epic-collabs-frontend/src/components/landing-page/index.js
  frontend/epic-collabs-frontend/src/components/navigation/index.js
  frontend/epic-collabs-frontend/src/components/navigation/nav-config.js
  frontend/epic-collabs-frontend/src/components/navigation/nav-link.js
  frontend/epic-collabs-frontend/src/components/navigation/user-nav.js
  frontend/epic-collabs-frontend/src/components/projects/index.js
  frontend/epic-collabs-frontend/src/config/production.config.js
  frontend/epic-collabs-frontend/src/hoc/with-apollo.js
  frontend/epic-collabs-frontend/src/hoc/with-auth.js
  frontend/epic-collabs-frontend/src/layouts/common.js
  frontend/epic-collabs-frontend/src/layouts/components/header.js
  frontend/epic-collabs-frontend/src/layouts/landing.js
  frontend/epic-collabs-frontend/src/styles/index.less
Due: epic-collabs-frontend-merge

Add Loading
  frontend/epic-collabs-frontend/pages/dashboard/index.js
  frontend/epic-collabs-frontend/public/images/svg/animated-rocket.svg
  frontend/epic-collabs-frontend/src/components/common/image/index.js
  frontend/epic-collabs-frontend/src/components/common/index.js
  frontend/epic-collabs-frontend/src/components/common/loading/index.js
  frontend/epic-collabs-frontend/src/components/login-redirect/index.js
  frontend/epic-collabs-frontend/src/styles/index.less
Due: epic-collabs-frontend-merge

Refactor
  frontend/epic-collabs-frontend/public/images/svg/animated-rocket.svg
  frontend/epic-collabs-frontend/public/images/svg/flying-rocket.svg
  frontend/epic-collabs-frontend/src/components/common/loading/index.js
  frontend/epic-collabs-frontend/src/components/landing-page/index.js
  frontend/epic-collabs-frontend/src/components/navigation/index.js
  frontend/epic-collabs-frontend/src/components/navigation/nav-link.js
  frontend/epic-collabs-frontend/src/styles/index.less
Due: epic-collabs-frontend-merge

Refactor
  frontend/epic-collabs-frontend/public/images/svg/animated-rocket.svg
  frontend/epic-collabs-frontend/public/images/svg/flying-rocket.svg
  frontend/epic-collabs-frontend/public/images/svg/project.svg
  frontend/epic-collabs-frontend/public/images/svg/resume.svg
  frontend/epic-collabs-frontend/public/images/svg/strategy.svg
  frontend/epic-collabs-frontend/src/components/landing-page/index.js
Due: epic-collabs-frontend-merge

Refactor
  frontend/epic-collabs-frontend/src/components/common/icon/index.js
  frontend/epic-collabs-frontend/src/components/navigation/index.js
Due: epic-collabs-frontend-merge

Add icons
  backend/services/epic-collabs/src/services/project.ts
  frontend/epic-collabs-frontend/pages/_app.js
  frontend/epic-collabs-frontend/public/images/svg/follow.svg
  frontend/epic-collabs-frontend/public/images/svg/heart.svg
  frontend/epic-collabs-frontend/public/images/svg/join.svg
  frontend/epic-collabs-frontend/public/images/svg/opportunity.svg
  frontend/epic-collabs-frontend/public/images/svg/project.svg
  frontend/epic-collabs-frontend/public/images/svg/projects.svg
  frontend/epic-collabs-frontend/src/components/common/icon/index.js
  frontend/epic-collabs-frontend/src/components/navigation/index.js
  frontend/epic-collabs-frontend/src/components/navigation/nav-config.js
  frontend/epic-collabs-frontend/src/components/projects/index.js
  frontend/epic-collabs-frontend/src/gql/project.js
  frontend/epic-collabs-frontend/src/layouts/common.js
  frontend/epic-collabs-frontend/src/styles/colours.js
  frontend/epic-collabs-frontend/src/styles/global.js
  frontend/epic-collabs-frontend/src/styles/index.js
Due: epic-collabs-merge, epic-collabs-frontend-merge

Add Profile page
  frontend/epic-collabs-frontend/pages/dashboard/index.js
  frontend/epic-collabs-frontend/pages/profile/index.js
  frontend/epic-collabs-frontend/public/images/svg/facebook.svg
  frontend/epic-collabs-frontend/public/images/svg/follow.svg
  frontend/epic-collabs-frontend/public/images/svg/github.svg
  frontend/epic-collabs-frontend/public/images/svg/linkedin.svg
  frontend/epic-collabs-frontend/public/images/svg/opportunity.svg
  frontend/epic-collabs-frontend/public/images/svg/project.svg
  frontend/epic-collabs-frontend/public/images/svg/twitter.svg
  frontend/epic-collabs-frontend/src/components/common/container/index.js
  frontend/epic-collabs-frontend/src/components/common/icon/index.js
  frontend/epic-collabs-frontend/src/components/common/loading/index.js
  frontend/epic-collabs-frontend/src/components/dashboard/index.js
  frontend/epic-collabs-frontend/src/components/navigation/index.js
  frontend/epic-collabs-frontend/src/components/navigation/nav-link.js
  frontend/epic-collabs-frontend/src/components/navigation/user-nav.js
  frontend/epic-collabs-frontend/src/components/projects/index.js
  frontend/epic-collabs-frontend/src/components/user-profile/about-me/index.js
  frontend/epic-collabs-frontend/src/components/user-profile/index.js
  frontend/epic-collabs-frontend/src/components/user-profile/layout/SectionLayout.js
  frontend/epic-collabs-frontend/src/components/user-profile/layout/index.js
  frontend/epic-collabs-frontend/src/components/user-profile/masthead/SocialButtonsList.js
  frontend/epic-collabs-frontend/src/components/user-profile/masthead/index.js
  frontend/epic-collabs-frontend/src/components/user-profile/personal-details/index.js
  frontend/epic-collabs-frontend/src/layouts/landing.js
  frontend/epic-collabs-frontend/src/styles/parallax.less
Due: epic-collabs-frontend-merge

Add updateProfile mutation
  backend/services/epic-collabs/src/functions/auth0-login/index.ts
  backend/services/epic-collabs/src/gql/__tests__/user.test.ts
  backend/services/epic-collabs/src/gql/resolvers/user.ts
  backend/services/epic-collabs/src/gql/schemas/user.ts
  backend/services/epic-collabs/src/models/user.ts
  backend/services/epic-collabs/src/services/__tests__/user.test.ts
  backend/services/epic-collabs/src/services/user.ts
Due: epic-collabs-merge

Edit profile
  frontend/epic-collabs-frontend/package.json
  frontend/epic-collabs-frontend/pages/_app.js
  frontend/epic-collabs-frontend/pages/profile/index.js
  frontend/epic-collabs-frontend/public/images/svg/github.svg
  frontend/epic-collabs-frontend/src/components/common/index.js
  frontend/epic-collabs-frontend/src/components/common/modal/index.js
  frontend/epic-collabs-frontend/src/components/navigation/user-nav.js
  frontend/epic-collabs-frontend/src/components/projects/index.js
  frontend/epic-collabs-frontend/src/components/user-profile/about-me/index.js
  frontend/epic-collabs-frontend/src/components/user-profile/common/EditButton.js
  frontend/epic-collabs-frontend/src/components/user-profile/common/index.js
  frontend/epic-collabs-frontend/src/components/user-profile/forms/AboutMeForm.js
  frontend/epic-collabs-frontend/src/components/user-profile/forms/SocialNetworkInfoForm.js
  frontend/epic-collabs-frontend/src/components/user-profile/index.js
  frontend/epic-collabs-frontend/src/components/user-profile/masthead/SocialButtonsList.js
  frontend/epic-collabs-frontend/src/components/user-profile/masthead/index.js
  frontend/epic-collabs-frontend/src/context/auth.js
  frontend/epic-collabs-frontend/src/context/user.js
  frontend/epic-collabs-frontend/src/functions/bio-validator.js
  frontend/epic-collabs-frontend/src/gql/user.js
  frontend/epic-collabs-frontend/src/hoc/with-auth.js
  frontend/epic-collabs-frontend/src/hooks/use-update-user-profile.js
  frontend/epic-collabs-frontend/src/hooks/use-user-profile.js
  frontend/epic-collabs-frontend/yarn.lock
Due: epic-collabs-frontend-merge

Refactor
  frontend/epic-collabs-frontend/pages/_app.js
  frontend/epic-collabs-frontend/src/components/projects/index.js
  frontend/epic-collabs-frontend/src/hooks/use-project.js
Due: epic-collabs-frontend-merge

Refactor
  frontend/epic-collabs-frontend/src/components/common/input/index.js
  frontend/epic-collabs-frontend/src/components/common/radio/index.js
  frontend/epic-collabs-frontend/src/components/common/select/index.js
  frontend/epic-collabs-frontend/src/components/navigation/index.js
  frontend/epic-collabs-frontend/src/components/user-profile/forms/AboutMeForm.js
  frontend/epic-collabs-frontend/src/components/user-profile/forms/SocialNetworkInfoForm.js
Due: epic-collabs-frontend-merge

Add logs
  frontend/epic-collabs-frontend/deploy.sh
  frontend/epic-collabs-frontend/src/hoc/with-apollo.js
  frontend/epic-collabs-frontend/src/libs/apollo/init-apollo-client.js
Due: epic-collabs-frontend-merge

Refactor
  frontend/epic-collabs-frontend/pages/_app.js
  frontend/epic-collabs-frontend/pages/api/callback.js
  frontend/epic-collabs-frontend/pages/profile/index.js
  frontend/epic-collabs-frontend/src/components/common/loading/index.js
  frontend/epic-collabs-frontend/src/components/dashboard/index.js
  frontend/epic-collabs-frontend/src/components/user-profile/index.js
  frontend/epic-collabs-frontend/src/hoc/with-apollo.js
  frontend/epic-collabs-frontend/src/libs/apollo/init-apollo-client.js
  frontend/epic-collabs-frontend/src/libs/apollo/init-on-context.js
Due: epic-collabs-frontend-merge

refactor ssr
  frontend/epic-collabs-frontend/src/hoc/with-apollo.js
  frontend/epic-collabs-frontend/src/hoc/with-auth.js
  frontend/epic-collabs-frontend/src/libs/apollo/init-apollo-client.js
Due: epic-collabs-frontend-merge

Add Project page
  frontend/epic-collabs-frontend/pages/project/[slug].js
  frontend/epic-collabs-frontend/src/components/common/loading/index.js
  frontend/epic-collabs-frontend/src/components/project/index.js
  frontend/epic-collabs-frontend/src/components/projects/index.js
  frontend/epic-collabs-frontend/src/gql/project.js
  frontend/epic-collabs-frontend/src/hooks/use-project.js
Due: epic-collabs-frontend-merge

Fix auth
  frontend/epic-collabs-frontend/pages/_app.js
  frontend/epic-collabs-frontend/pages/api/me.js
  frontend/epic-collabs-frontend/pages/api/session.js
  frontend/epic-collabs-frontend/src/components/user-profile/index.js
  frontend/epic-collabs-frontend/src/context/auth.js
  frontend/epic-collabs-frontend/src/functions/get-access-token.js
  frontend/epic-collabs-frontend/src/hoc/with-apollo.js
  frontend/epic-collabs-frontend/src/hoc/with-auth.js
  frontend/epic-collabs-frontend/src/libs/apollo/init-apollo-client.js
  frontend/epic-collabs-frontend/src/libs/apollo/init-on-context.js
Due: epic-collabs-frontend-merge

Refactor
  frontend/epic-collabs-frontend/pages/profile/index.js
  frontend/epic-collabs-frontend/pages/user/[id].js
  frontend/epic-collabs-frontend/src/components/navigation/index.js
  frontend/epic-collabs-frontend/src/components/navigation/nav-config.js
  frontend/epic-collabs-frontend/src/components/navigation/nav-link.js
  frontend/epic-collabs-frontend/src/components/project/index.js
  frontend/epic-collabs-frontend/src/components/projects/index.js
  frontend/epic-collabs-frontend/src/components/user-profile/index.js
  frontend/epic-collabs-frontend/src/components/user-profile/masthead/SocialButtonsList.js
Due: epic-collabs-frontend-merge

Path conditions:
  epic-collabs-merge: any of: backend/services/epic-collabs/
  epic-collabs-frontend-merge: any of: frontend/epic-collabs-frontend/
